<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
        <%= hidden_field_tag "assignment[lesson_ids][]", nil %>
        <% Lesson.all.each do |lesson| %>
          <%= check_box_tag "assignment[lesson_ids][]", lesson.id, @assignment.lesson_ids.include?(lesson.id), id: dom_id(lesson) %>
          <%= label_tag dom_id(lesson), lesson.name %>
          [<%= label_tag dom_id(lesson), lesson.date %>]
          <br />
        <% end %>
    </div>
    <div class="second-form-group">
    <h2>Choose Assignment Type</h2>
      <%= f.label :assignment_type, "Main", :value => "true"  %>
      <%= f.radio_button :assignment_type, "Main", checked: "checked" %>
        &nbsp
       &nbsp

      <%= f.label :assignment_type, "Lab", :value => "true"  %>
      <%= f.radio_button :assignment_type, "Lab" %>
  </div>
  <div class="third-form-group">
    <h2>Select Status</h2>
      <%= f.label :status, "Open", :value => "true"  %>
      <%= f.radio_button :status, "Open", checked: "checked"%>
        &nbsp
       &nbsp

      <%= f.label :status, "Upcoming", :value => "false"  %>
      <%= f.radio_button :status, "Upcoming" %>
       &nbsp
       &nbsp

      <%= f.label :status, "Closed", :value => "true"  %>
      <%= f.radio_button :status, "Closed" %>
       
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
     <%= f.text_field :deadline, class: "form-control", :data => {:provide => "datepicker"} %>
  </div>
  <div class="field">
    <%= f.label :fake_score, 'Fake Points' %><br>
    <%= f.number_field :fake_score, class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :score, 'Points' %><br>
    <%= f.number_field :score, class: "form-control" %>
  </div>
  <h2>Add Attachment (if applicable)</h2>
      <%= f.label :attachment %>
      <%= f.file_field :attachment, :class => "form-control-file", class: "form-control" %>
      <br>

  <div class="actions">
    <%= f.submit "Create Assignment", class: "btn btn-primary" %>
  </div>
<% end %>
