<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Homework Assignments</h1>

<div class="filter">
<%= search_form_for @search do |f| %>
<ul>
  <li><label>
  <%= f.radio_button :status_cont, "Open", checked: "checked", onclick: "$(this).closest('form').submit();" %>
    Open (Displayed by default)
  </label></li>
   
    <li><label>
  <%= f.radio_button :status_cont, "Upcoming", onclick: "$(this).closest('form').submit();" %>
  Upcoming
      </label></li>

  <li><label>
      <%= f.radio_button :status_cont, "Closed", onclick: "$(this).closest('form').submit();" %>
      Graded or Grading
    </label></li>

</ul>
   
 <br>

   </div>

<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Due Date</th>
        <th>Points</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>

         <% if assignment.assignment_type == "Main" %>
                  <td style ="background: #16a085 !important; font-size: 1.1rem !important; text-align: center; color: white !important" class="lesson_type"><%= link_to assignment.name, assignment %></td>
                  <% end %>
              <% if assignment.assignment_type == "Lab" %>

                 <td style ="background: #F07851 !important; font-size: 1.1rem !important; text-align: center; color: white !important" class="lesson_type"><%= link_to assignment.name, assignment %></td>

                <% end %>
         
          <td><%= assignment.deadline %></td>
          <%= form_for(assignment) do |f| %>
          <td class="wider">
            <%= f.number_field :score, class: "form-control" %> / <%= assignment.fake_score %></td>
          <td>
          <ul>
              <li><%= f.label :status, "Open" %>
              <%= f.radio_button :status, "Open" %></li>
              
              <li><%= f.label :status, "Upcoming"  %>
              <%= f.radio_button :status, "Upcoming" %></li>
          
              <li><%= f.label :status, "Closed"  %>
              <%= f.radio_button :status, "Closed" %></li>
          </ul>
             </td>
             <td>
              <div class="actions">
                <%= f.submit "Change Status", class:'btn btn-green'%>
              </div>
            </td>
            <% end %>
          <td><%= link_to assignment do %>
              <i class="material-icons">pageview</i>
          <% end %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to edit_assignment_path(assignment) do %>
              <i class="material-icons">edit</i>
              <% end %>

          </td>
          <td><%= link_to assignment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="material-icons">delete_forever</i>
                      <% end %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!--/table-responsive-->
  <br>
  <% if current_user.try(:admin?) %>

  <%= link_to 'New Assignment', new_assignment_path, class: 'btn btn-green' %>
<% end %>
</div>
