
   <h2>Hi <%= @user.name %>!</h2>
   	<p>The assignment, <% for assignment in @submission.assignments %><span style="color: red"><%= assignment.name %></span><% end %>, has been graded!

   	<h3>Score</h3>
   	  <p>You received a <%= @submission.score %> out of <% for assignment in @submission.assignments %> <%= assignment.score %><% end %></p>

   	 <h3>Comments:</h3>
   	 <% if @submission.feedback? %>
   	 	<p><%= @submission.feedback %></p>
   	 <% else %>
   	 	<p>No feedback was provided.</p>
   	 <% end %>
<br>

    <p>Please visit the <a href="http://tecm3200.herokuapp.com">course website</a> to view all your grades.</p>
    <p>Thanks!</p>
    <p>Dr. Lam</p>

