
   <h2>Hi <%= @user.name %>!</h2>
   	<p>The assignment, <% for assignment in @submission.assignments %><%= assignment.name %><% end %>, has been graded!

   	  <p>You received a <%= @submission.score %> out of <% for assignment in @submission.assignments %> <%= assignment.score %><% end %></p>

   	 <p>Comments:</p>
   	 <% if @submission.feedback? %>
   	 	<p><%= @submission.feedback %></p>
   	 <% else %>
   	 	<p>No feedback was provided.</p>
   	 <% end %>

    <p>Go to the <a href="http://tecm3200.herokuapp.com">course website</a> to view all your grades.</p>
    <p>Thanks! Dr. Lam</p>

