Hi <%= @user.name %>!

The assignment, <% for assignment in @submission.assignments %><%= assignment.name %><% end %>, has been graded!

You received a <%= @submission.score %> out of <% for assignment in @submission.assignments %> <%= assignment.score %><% end %>

Comments:
   	 <% if @submission.feedback? %>
 <%= @submission.feedback %>
   	 <% else %>
No feedback was provided.
   	 <% end %>

Go to the <a href="http://tecm3200.herokuapp.com">course website</a> to view all your grades.

Thanks! Dr. Lam