
	<h1>Step 1: Choose Assignment</h1>
       <%= hidden_field_tag "submission[assignment_ids][]", nil %>
          <div class="col-md-6">

	          <h2 style ="background: #16a085 !important; color: white !important; text-transform: uppercase; text-align: center; padding-top: 5px; padding-bottom: 5px">Submit Main Assignment</h2>
         <% Assignment.all.order(:deadline).each do |assignment| %>
          <% if assignment.assignment_type == "Main" %>
          <% if assignment.status == "Open" %>

	            <%= radio_button_tag "submission[assignment_ids][]", assignment.id, @submission.assignment_ids.include?(assignment.id), id: dom_id(assignment), required: 'required'%>
	            <%= label_tag dom_id(assignment), assignment.name %> | due <%= assignment.deadline %>
	          <br />
	        <% end %>
	        <% end %>
	        <% end %>
	       	 </div>
	       	<div class="col-md-6">
	       	<h2 style ="background: #c0392b !important; color: white !important; text-transform: uppercase; text-align: center; padding-top: 5px; padding-bottom: 5px">Submit Lab Assignment</h2>
 			<% Assignment.all.order(:deadline).each do |assignment| %>
          		<% if assignment.assignment_type == "Lab" %>
          		<% if assignment.status == "Open" %>

	          
	            <%= radio_button_tag "submission[assignment_ids][]", assignment.id, @submission.assignment_ids.include?(assignment.id), id: dom_id(assignment), required: 'required'%>
	            <%= label_tag dom_id(assignment), assignment.name %> | due <%= assignment.deadline %>
	          <br />
	         <% end %> 
	        <% end %>
     		 <% end %>
     		<br />
	          <br />

     	</div>




