<div class="container">
<p id="notice"><%= notice %></p>
<nav class="gradebook">
  <ul>
    <li><%=link_to "Ungraded Submissions", submissions_path, class: "active" %></li>
    <li><%= link_to 'Graded Submissions', pages_graded_path %></li>
    <li><%= link_to "Finalized Gradebook", usergrades_path %></li> 
  </ul>


</nav>
  <br>
<br>

<div id= "all-grades">

  <input class="search" placeholder="Search!" />
    <br>
    <br>
<!-- <div class="row">
<div class="col-md-4">
 <div class="filter-box">
<h3>Filter by Student:</h3>
<%= search_form_for @search do |f| %>
   <%= f.select :user_name_cont, options_from_collection_for_select(User.all.order(:last_name), :name, :last_name), :prompt => 'All Students', class: "form-control" %>

    &nbsp<%= link_to(submissions_path) do %>
    <i class="material-icons">cancel</i>
   <% end %>
   <br><br>
<div class="actions">
  <%= f.submit "Filter", class: " btn btn-green" %><br>

</div>

  <% end %>
</div>
</div>

<div class="col-md-4"> 
<div class="filter-box">
<h3>Filter by Main:</h3>
<%= search_form_for @search do |f| %>

   <%= f.select :assignments_name_cont, options_from_collection_for_select(Assignment.all.where(:assignment_type => "Main").order(:deadline), :name, :name), :prompt => 'Main Assignments', class: "form-control" %>

    &nbsp<%= link_to(submissions_path) do %>
    <i class="material-icons">cancel</i>
   <% end %>
   <br><br>
<div class="actions">
  <%= f.submit "Filter", class: " btn btn-green" %><br>

</div>

  <% end %>
</div>
</div>
<div class="col-md-4">
  <div class="filter-box">
<h3>Filter by Lab:</h3>
<%= search_form_for @search do |f| %>

    <%= f.select :assignments_name_cont, options_from_collection_for_select(Assignment.all.where(:assignment_type => "Lab").order(:deadline), :name, :name), :prompt => 'Lab Assignments', class: "form-control" %>

    &nbsp<%= link_to(submissions_path) do %>
    <i class="material-icons">cancel</i>
   <% end %>
   <br><br>
<div class="actions">
  <%= f.submit "Filter", class: " btn btn-green" %><br>

</div>

  <% end %>
</div>
</div>
<br >
</div><!--/row--> 
<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link @search, :user_name, "Student" %></th>
          <th><%= sort_link @search, :assignments_name, "Assignment" %></th>
          <th><%= sort_link @search, :created_at, "Date Submitted" %></th>
          <th><%= sort_link @search, :assignments_deadline, "Due Date" %></th>
          <th><%= sort_link @search, :score, "Score" %></th>
          <th colspan="1"></th>
        </tr>
      </thead>
       <tbody class="list">
        <% @submissions.each_with_index do |submission, i| %>
        <% if submission.score == nil %>

            <td><%= (i+1) %>.</td>

             <td class="name"><%= link_to [submission.user.name, submission.user.last_name].join(" "), submission %></td>
          <% for assignment in submission.assignments %>
          <% if assignment.assignment_type == "Main" %>
            <td class="assignment" style ="background: #16a085 !important; font-size: 1.1rem !important; text-align: center; color: white !important" class="lesson_type"><%= assignment.name %></td>
          <% else %>
            <td class="assignment" style ="background: #c0392b !important; font-size: 1.1rem !important; text-align: center; color: white !important" class="lesson_type"><%= assignment.name %></td>
          <% end %>
          <% end %>
            <td><%= submission.created_at.to_date %>, <%= submission.created_at %></td>
          <% for assignment in submission.assignments %>
            <td><%= assignment.deadline %></td>
          <% end %>
            <% if submission.score? %>
              <td style = "color: green !important"><%= submission.score %>/<% for assignment in submission.assignments %><%= assignment.score %> or <%= number_to_percentage(submission.score.to_f * 100 / assignment.score) %><% end %></td>
            <% else %>
              <td style = "color: red !important">Not graded yet (<%= assignment.fake_score %> points</td>
            <% end %>
           
            <td><%= link_to 'Grade', submission, class: 'btn btn-green' %></td>
                    <td><%= link_to submission, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="material-icons">delete_forever</i>
                      <% end %>
                    </td>

          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div><!--responsive table close-->
</div>

<br>  
</div><!--/all-grades-->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  
<script>

var options = {
  valueNames: [ 'name', 'assignment' ]

};

var userList = new List('all-grades', options);
</script>