 <h2><%= current_user.name %>'s Submitted Work</h2>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th class="center">Date Submitted</th>
    <th class="center">Assignment Name</th>
    <th class="center">Submission Text</th>
    <th class="center">Submission Attachment</th>

  </tr>

  <% @submissions.each do |submission| %>
    <tr>
      <td class="center"><%= submission.created_at.strftime("%B %-d, %Y") %></td>
            <td class="center"><%= submission.assignment.name %></td>

      <td class="center"><%= submission.description %></td>
      <td class="center">
      <% if submission.document? %>
      <%= link_to submission.document, submission.document.url %>
      <% else %>
      No document attached
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>
<br>

