<div class="container">

<% if current_user.try(:admin?) %>
<%= link_to 'New Lesson', new_lesson_path, class: "btn btn-default" %>
<br><br>
<% end %>
<div class="filter">
  <%= link_to "Main Schedule", lessons_path, class: 'main-button' %>
  <%= link_to "Lab Schedule", "http://tecm3200.herokuapp.com/lessons?utf8=%E2%9C%93&q%5Blesson_type_cont%5D=Lab&commit=Filter", class: 'lab-button' %>
</div>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link @search, :lesson_type, "Class Type" %></th>
      <th><%= sort_link @search, :week, "Week" %></th>
      <th><%= sort_link @search, :date, "Date" %></th>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th>Readings</th>
      <th>Homework</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
      <% if lesson.lesson_type == "Main" %>
        <td style ="background: #6EA59F !important; font-size: 1.1rem !important; text-align: center; color: white !important; text-transform: uppercase" class="lesson_type"><%= lesson.lesson_type %></td>
      <% else %>
        <td style ="background: #F2784B !important; font-size: 1.1rem !important; text-align: center; color: white; text-transform: uppercase" class="lesson_type"><%= lesson.lesson_type %></td>
      <% end %>

        <td class="week"><%= link_to lesson.week, lesson %></td>
        <td class="date"><%= link_to lesson.date, lesson %></td>
        <td class="name"><%= link_to [lesson.name].join(" "), lesson %></td>
      <td>
        <ul><% for reading in lesson.readings %><li><%= reading.content.html_safe %></li><%end%></ul>
      </td>

      <td>
          
            <ul>
            <% for homework in lesson.homeworks %>
                <li><%= homework.content.html_safe %></li>
              <% end %>
            <% for assignment in lesson.assignments %>  
                <li><span style="color: #F9690E; font-weight: bold">[Turn In]</span> <%= link_to assignment.name, assignment_url(assignment) %></li>  
            <% end %>
        </ul>
      </td>


        <td><%= link_to 'View Lesson', lesson %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


</div>
